body {
  font-family: var(--font-open-sans);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.header {
  background-color: #4285F4; 
  color: white;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 1.875rem;
  font-weight: bold;
  transition: font-size 0.3s ease;
}

.hover-large:hover {
  font-size: 2em; 
}

.footer {
  background-color: #4285F4;
  color: white;
  padding: 1rem 0;
}

.footer-container {
  margin: 0 auto;
  text-align: center;
}

.pagination-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.current-page {
  margin: 10px 0;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.button {
  background-color: "#1a73e8";
  color: "#fff"
}

.search-button {
  margin-bottom: 10px !important;
  background-color: #1a73e8 !important;
  color: #fff !important;
}
.no-text-decoration {
  text-decoration: none;
}