body {
  font-family: var(--font-open-sans);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.header {
  background-color: #4285F4; 
  color: white;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 1.875rem;
  font-weight: bold;
}

.footer {
  background-color: #4285F4;
  color: white;
  padding: 1rem 0;
}

.footer-container {
  margin: 0 auto;
  text-align: center;
}